.content-1{
  display: none;
  transition: .5s;
}

.content--1{
    width: 80%;
    height: 100%;
    margin: 3% auto;
    transition: 0.5s;
    display: block;
  }
  
  .content--1 h1{
      color: hsl(213, 96%, 18%);
      font-weight: 600;
      font-size: 20px;
      margin:  0 0 6px 0;
  }
  
  .content--1 .subtitle{
    font-size: 13px;
    color: rgba(119, 119, 119, 0.795);
    margin: 0 0 15px 0 ;
  }
  
  .content--1 label{
    display: block;
    font-size: 10px;
  }
  
  .content--1 input{
    width: 100%;
    margin: 10px 0;
    border: solid hsl(231, 11%, 63%) 2px;
    border-radius: 5px;
    padding: 5px;
  }
  
  .button{
    margin: 12% auto 0 auto;
    justify-content: flex-end;
    display: flex;
  }

  @media (min-width: 1300px) and (max-width: 1564px) {
    .button{
      margin: 23% auto 0 auto;
    }
  }
  
  .button button{
    background-color:  hsl(243, 100%, 62%);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }