main{
    display: flex;
    width: 60%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 5% auto 10% auto;
}



